/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

/*Prompt*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt:wght@600&display=swap');

body{
    background-color: #181818;
  font-family: 'Prompt', sans-serif;
  margin: 0;
}

.header{
    background-image: linear-gradient(to right, #000000, #000000, #1f094b);
  width: 100vw;
  height: 6vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  align-items: center;
  display: flex;
}

.mh{
    margin-left: 45vw;
    display: none;
    width: 15vw;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background: #000000;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    transition: .7s;
}

.mh a{
  margin-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.header > img{
    display: flex;
    margin: 0;
    height: 100%;
}

.header > h1{
    display: flex;
    color: #8c52ff00;
    text-transform: uppercase;
    transition: .6s;
}

.header:hover  > h1{
    margin-left: 2vw;
    color: #e6e6e6;
}

.header > h1:hover{
    color: #ffffff;
}

.header:hover > .mh{
    display: flex;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.navg{
    margin-top: 10vh;
    margin-left: 2vw;
    position: relative;
    height: 55vh;
    width: 70px;
    background: #000000;
    box-shadow: 8px 0 0 #8C52FF;
    border-left: 10px solid #000000;
    overflow-x: hidden;
    transition: .5s;
    border-radius: 20px
  }
  
  .navg:hover{
    width: 300px;
  }
  
  .navg ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 5vh;
  }
  
  .navg ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .navg ul li.active{
    background: #8C52FF;
  }
  
  .navg ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 5.5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #00000000;
    box-shadow: 15px 15px 0 #8C52FF;
  }
  
  .navg ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 5.5px;
    width: 30px;
    height: 30px;
    background: #00000000;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #8C52FF;
  }
  
  .navg ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
  }
  
  .navg ul li a:hover{
    color: rgb(255, 255, 255);
  }
  
  .navg ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }
  
  .navg li a .icon ion-icon{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
  }
  
  .navg li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
  }
  
  .navg li.active a{
    color: #ffffff;
  }